/* DARK THEME CSS */
.root {
    -fx-background-color: #1e1e1e;
    -fx-font-family: "Segoe UI";
}

#title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.label { -fx-text-fill: #cccccc; }

.text-field, .combo-box, .date-picker {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #f0f0f0;
    -fx-background-radius: 5;
    -fx-border-color: #3a3a3a;
    -fx-border-radius: 5;
}

.button {
    -fx-background-color: #3B82F6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
}
.button:hover { -fx-background-color: #2563EB; }

#btnRemover {
    -fx-background-color: #EF4444;
}
#btnRemover:hover {
    -fx-background-color: #DC2626;
}

.table-view {
    -fx-background-color: #2b2b2b;
    -fx-base: #2b2b2b;
    -fx-control-inner-background: #2b2b2b;
    -fx-table-cell-border-color: #3c3c3c;
}

#totalLabel {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.input-card {
    -fx-background-color: #252525;
    -fx-padding: 15;
    -fx-background-radius: 8;
}
